img {
  max-width: 200px;
}
body {
  font-size: 30px;
  font-family: sans-serif;
  color: #333;
}
.question {
  font-weight: 600;
  text-align: left;
  /* background-color: red; */
  background-image: url("7AB5DF3F-D5AA-4908-9573-00FF3AC8B1AD.png");
  background-size: 900px;
  background-position: 50%;
  background-color: #279;
  color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid lightcoral;
  padding: 200px;
  box-shadow: rgb(240, 214, 214) 10px 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  background-color: rgb(133, 48, 48);
  color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid rgba(142, 41, 41, 0.611);
  box-shadow: rgb(240, 214, 214) 10px 10px;
}
.answers label {
  display: block;
}
#submit {
  font-family: sans-serif;
  font-size: 20px;
  background-color: #279;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
#submit:hover {
  background-color: #38a;
}
